html {
    cursor: none;
}

#mouse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 2px solid #00000000; 
    transform: translate(-50%, -50%);
  }

img {
    max-width: 30px;
}

.cursor-anim img{
    max-width: 150px;
}

